.WelcomePage {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    perspective: 1000px;
}

.FancyBackground {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: -30%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(229, 230, 231);
    transform-origin: 0px 0px;
    transform: rotateZ(-20deg) translateZ(-1px);
}

.Welcome {
    text-align: right;
    margin: 1em;
    transform: translateZ(-3px);
}

.Welcome > h1,
.Welcome > h2 {
    margin-bottom: 0;
    font-weight: 100;
}

.Underline {
    position: relative;
}

.Underline::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 1px;
    bottom: 0;
    right: -20%;
    display: inline-block;
    background-color: rgb(98, 99, 102);
    margin: 0;
    padding: 0;
    transform: rotateZ(-2deg) translateZ(-1px); 
}