.Wow-Rocket {
    /* Values based on the combined svg aspect ration using width="153" height="283" */
    height: 60vh;
    width: 32.438162544vh;
    max-width: 50vw;
    max-height: 92.483660131vw;
    position: relative;
    display: inline-block;
}

.Wow-Rocket * {
    position: absolute;
    perspective: 1px;
}

.Wow-Rocket .Surface {
    bottom: 0px;
    width: 100%;
    height: auto;
}

.Wow-Rocket .Rocket {
    top: 0px;
    left: 0;
    right: 0;
    height: 80%;
    margin: auto;
    transform: translate3d(0, 0, 0);
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both infinite;
}

.Wow-Rocket .Rocket-with-Particles {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.Wow-Rocket:hover .Rocket-with-Particles {
    animation: launch 1s ease-in forwards;
}

.Wow-Rocket:hover .Surface {
  animation-delay: 100ms !important;
    animation: move-to-distance 1s ease-out forwards;
}

.Wow-Rocket .Particle {
    height: 10%;
}

.Wow-Rocket .Particle {
    animation: particles 0.5s ease-out both infinite;
}

.Wow-Rocket .Particle1 {
    top: 66%;
    left: 50%;
    animation-delay: -500ms !important;
}

.Wow-Rocket .Particle2 {
    top: 67%;
    left: 45%;
    animation-delay: -300ms !important;
}

.Wow-Rocket .Particle3 {
    top: 70%;
    left: 40%;
    animation-delay: -200ms !important;
}

.Wow-Rocket .Particle4 {
    top: 75%;
    left: 60%;
    animation-delay: -500ms !important;
}

.Wow-Rocket .Particle5 {
    top: 76%;
    left: 45%;
    animation-delay: -430ms !important;
}

.Wow-Rocket .Particle6 {
    top: 78%;
    left: 30%;
    animation-delay: -100ms !important;
}

.Wow-Rocket .Particle7 {
    top: 80%;
    left: 38%;
    animation-delay: -450ms !important;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(1%, 0.5%, 0);
    }
    20%,
    80% {
        transform: translate3d(-0.5%, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(0.5%, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(-1%, 0, 0);
    }
}

@keyframes launch {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    70% {
        transform: translate3d(0, -35%, 0) scale(0.85);
        opacity: 1;
    }
    90% {
        transform: translate3d(0, -45%, 0) scale(0.75);
        opacity: 0.5;
    }
    100% {
        transform: translate3d(0, -50%, 0) scale(0.7);
        opacity: 0;
    }
}

@keyframes particles {
    0% {
        transform: translateY(0em);
        opacity: 1;
    }
    100% {
        transform: translateY(2em);
        opacity: 0.1;
    }
}

@keyframes move-to-distance {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
        transform: translate3d(0, 20px, 0) scale(0.5);
    }
}
